@import url(./fonts.css);
:root {
    --font-primary: "PP", sans-serif;
    --font-additional: "Aeonik", sans-serif;

    --base-0: #ffffff; 
    --base-100: #F9F9F9; 
    --base-200: #FAFF74; 
    --base-300: #F7FF15;

    --content-100: #000000;
    --content-200: #171717;
    --content-300: #22002F;
    
    --bg-color: #ffffff;
    --link-color: #000;
    

    --block-hover-transion: .6s cubic-bezier(0.5, 0, 0.2, 1);

    --indents:40px;
}

/* html {overscroll-behavior: none;} html { scrollbar-width: none; } html::-webkit-scrollbar { display: none; } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    
}
body {
    font-family: var(--font-primary);
    background-color:   #FFE150;
    color: var(--content-100);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
    position: relative;
    padding:0 var(--indents);
    width: 100%;
    height:100%;
}
li{list-style: none;}
.font-primary {
  font-family: var(--font-primary);
}

.font-additional {
  font-family: var(--font-additional);
}

h2.font-primary ,
h3.font-primary ,
h4.font-primary 
{
    font-weight:200;
    text-transform: capitalize;
    font-family: var(--font-primary);
    color: var(--content-300);
    font-size: 3.5rem;
    line-height:120%;
    letter-spacing: -2%;
}

p.font-additional ,li.font-additional{
    font-size:.875rem;
    line-height: 120%;
    letter-spacing: 1%;
    color: var(--content-300);
    text-transform:capitalize;
    font-weight: 400;
}
