.vision{
    position: relative;
    background-color: var(--bg-color);
    padding:5rem 0;
}
.vision__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.vision__content{
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}
.vision__title{
    max-width: 750px;
}

.vision__description{
    max-width:400px;
    margin-left: auto;
    font-family: var(--font-additional);
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 1%;
    color: var(--content-300);
    font-weight: 400;
}
.vision__systems{
    position: relative;
    min-height:100svh;
}
.vision__systems-content{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:12.5rem;
    height: 100%;
}
.vision__background{
    position: relative;
    height: 100svh;
}
.vision__active-title{
    font-weight: 400;
    font-family: var(--font-additional);
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 1%;
    color: var(--content-300);
}
.vision__list-item{
    opacity: 30%;
}
.vision__list ,.vision__categories{
    display: flex;
    flex-direction: column;
    gap:.625rem;
}